.window-container {
    width: 300px;
    height: 200px;
    background-color: #fefefe;
    color: #404040;
    text-align: center;
    position: absolute; /* or relative */
    border-radius: 12px;
    user-select: none; /* prevents text selection while dragging */
    box-shadow: 2px 2px 20px 1px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    will-change: transform, width, height;
}

.window-container.animated {
    transition-duration: 0.2s;
}

.window-container.maximized {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    backdrop-filter: none;
    background-color: #fefefe;
}

.window-container.closing {
    transition: 0.1s;
    transform: scale(0);
}

.window-content {
    width: 100%;
    height: 100%;
    text-align: start;
    overflow: auto;
}

.window-titlebar {
    display: flex;
    align-items: center;
    height: fit-content;
}

.window-dragarea {
    overflow: hidden;
    display: inline-block;
    cursor: grab;
    background-color: transparent;
    flex-grow: 1;
}

.titlebar-button {
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    border-radius: 100%;
    margin: 4px;
}

.titlebar-button:hover {
    transition: 0.3s;
    background-color: rgba(100, 100, 100, 0.3);
}

.titlebar-button:active {
    transition: 0.1s;
    background-color: rgba(100, 100, 100, 0.5);
}

.titlebar-button.close {
    float: left;
}

.titlebar-button.close:hover {
    background-color: #FFCDD2;
}

.titlebar-button.close:active {
    background-color: #EF9A9A;
}

.titlebar-button.checked {
    background-color: rgba(100, 100, 100, 0.3);
}

.titlebar-button span {
    position: relative;
    transform: scale(0.9);
}

.titlebar-button:hover span {
    transition: 0.3s;
    transform: scale(0.79);
}



